/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/src/AppBundle/Resources/assets/assetic/
/node_modules/
sftp-config.json
.DS_Store
/.idea/
/web/build/
/web/bundles/
app/DoctrineMigrations/