@import 'bootstrap/variables';

html,
body {
  background: $white;
  color: $gray;
}

.session-header-row {
  padding: 25px;

  .logo-header {
    h1 {
      font-size: 2.2rem;
    }
  }
}

.session-content-row {
  background: $gray-lightest;
  padding: 3rem;
  text-align: center;

  h3,
  p {
    width: 100%;
  }

  h3 {
    color: $teal;
    font-family: 'Comfortaa', cursive;
    font-size: 1.6rem;
    margin-bottom: 1.6rem;

    &.restart {
      color: $gray-light;
      font-size: 1.4rem;
      margin-bottom: 0;
    }
  }

  hr {
    border-top: 1px solid $gray-light;
    margin-bottom: 1.8rem;
    margin-top: 1.8rem;
    padding: 0;
  }

  .btn {
    display: inline-block;
  }

  .text-input {
    border: 1px solid $gray-light;
    transition: all .3s;
    width: 400px;

    &:focus,
    &:hover,
    &.isfilled {
      border: 1px solid $teal;
      color: $teal;

      &::placeholder {
        color: $teal;
      }
    }

    &::placeholder {
      transition: all .6s;
    }
  }

  .form-text ul {
    margin: 0;
  }
}

.btn-secondary.restart {
  background: $gray-light;
  color: $white;
  margin-top: 1rem;
  padding: 1rem 1.5rem;

  &:hover,
  &:focus {
    background: $red;
    border-color: $red;
    color: $white;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($red, .5);
  }
}

.password-help {
  text-align: left;

  ul {
    padding-left: 20px;
  }
}

.custom-checkbox {
  padding-left: 40px;
  margin-bottom: 1rem;

  .custom-control-description {
    color: $teal;
    font-size: 1.45rem;
    line-height: 32px;
  }

  .custom-control-indicator.ssa {
    background: $white;
    border: 1px solid $teal;
    display: inline-block;
    height: 32px;
    width: 32px;
    top: 0;
  }

  .custom-control-input:checked ~ .custom-control-indicator.ssa {
    background: url($asset-svg-base + 'tick.svg') 50% 50% no-repeat $white;
  }

  .custom-control-input:focus ~ .custom-control-indicator.ssa {
    box-shadow: none;
  }
}

.password-help,
.btn-lg {
  width: 400px;
}

@include media-breakpoint-down(sm) {
  .session-content-row {
    padding: 2rem 1rem;

    .text-input {
      font-size: 1rem;
      padding: .75rem;
      width: 100%;
    }

    h3 {
      font-size: 1.4rem;
    }

    .custom-checkbox {
      .custom-control-description {
        font-size: 1.2rem;
      }
    }
  }

  .password-help,
  .btn-lg {
    width: 100%;
  }

  .btn-lg {
    font-size: 1rem;
  }

  .session-header-row {
    padding: 15px 20px;

    .logo-header {
      h1 {
        font-size: 1.6rem;
      }
    }
  }
}
