@import '../../global/bootstrap/variables';

html,
body {
  background: $white;
  color: $gray;
}

.bootstrap-select.show>.dropdown-menu {
  height: 100vh;
  min-height: 100px !important;
}

.bootstrap-select.show>.dropdown-menu>.dropdown-menu {
  display: block;
  height: 100%;
  max-height: none !important;
  min-height: none !important;
  position: absolute;
  top: 0;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  vertical-align: middle;
}

.text-input::-webkit-input-placeholder {
  color: $white;
  opacity: .4;
}

.text-input::-moz-placeholder {
  @extends .home-form-control::-webkit-input-placeholder;
}

.text-input:-ms-input-placeholder {
  @extends .home-form-control::-webkit-input-placeholder;
}

h3 {
  color: $teal;
  font-size: 1.4rem;
}

.session-text-outer {
  padding: 55px 20px 55px 45px;
}

.session-text {
  font-size: 1.1rem;
}

.session-media {
  padding: 45px 45px 45px 20px;
}


.col-media {
  max-width: 1000px;
  width: 50%;
}

.session-media {
  img {
    width: 100%;
  }

  .embed-container {
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.session-question-row {
  background: $teal;
  color: $white;
  font-size: 1.6rem;
  padding: 40px;
  text-align: center;
}

.session-question {
  margin-bottom: .5rem;
}

.session-input {
  display: block;
  font-size: 0;
  margin-bottom: 10px;
  position: relative;
  text-align: center;

  .radio-wrapper-outer,
  .checkbox-wrapper-outer{
    display: inline-block;
    max-width: 600px;
    position: relative;
    width: 100%;
    .custom-control-indicator {
      display: none;
    }
  }

  .custom-control {
    margin: 0;
    padding: 0;

    &.text-radio {
      width: 50%;
    }

    &.emoticon-radio {
      margin: 0 20px;
    }
  }

  .custom-control-label {
    background: $teal-dark;
    border: 1px solid $teal;
    color: rgba($white, .6);
    padding: .5rem 1rem;
    transition: color .3s;
    width: 100%;
  }

  .custom-control-label,
  .bootstrap-select .btn,
  .text-input,
  .input-group-addon.text-pre {
    font-size: 1.4rem;
  }

  .bootstrap-select .btn,
  .text-input,
  .input-group-addon.text-pre {
    background: rgba($white, .2);
    border: 0;
    color: $white;

    ~ .input-group-addon {
      background: rgba($white, .2);
      border: 0;
      color: $white;
    }
  }

  .input-group-addon.text-pre {
    border-right: 1px solid rgba($white, .3);
  }

  .bootstrap-select {
    max-width: 500px;
    padding: 0;

    > .dropdown-toggle {
      &:hover,
      &:focus,
      &:active {
        color: $white;
        outline: none !important;
      }
    }
  }

  .dropdown-toggle::after {
    border-width: .4em .3em  0;
    margin-left: 0;
  }

  .dropdown-menu {
    padding: 0;

    li a {
      display: inline-block;
      font-size: 1.2rem;
      padding: .5rem 1rem;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  .text-input-outer {
    display: inline-block;
    position:relative;
    width: 100%;

    &.text {
      max-width: 800px;
    }

    &.number,
    &.date {
      max-width: 360px;
    }
  }

  .text-input {
    line-height: 1.25;
    padding: 15px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .custom-radio .custom-control-input:checked ~ .custom-control-label,
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label{
    color: $white;
  }

  .custom-control-emoticon {
    display: inline-block;
    height: 75px;
    opacity: .2;
    transition: opacity .3s;
    width: 75px;
  }

  .happy .custom-control-emoticon {
    background: url($asset-svg-base + 'happy.svg') 50% 50% no-repeat;
  }

  .neutral .custom-control-emoticon {
    background: url($asset-svg-base + 'neutral.svg') 50% 50% no-repeat;
  }

  .sad .custom-control-emoticon {
    background: url($asset-svg-base + 'sad.svg') 50% 50% no-repeat;
  }

  .custom-radio .custom-control-input:checked ~ .custom-control-emoticon {
    opacity: 1;
  }
}

.session-continue-row {
  padding: 30px;
  text-align: center;
}

.custom-control {
  margin-right: 0;
  padding-left: 0;
}

.quit-plan {
  position: fixed;
  left: 100%;
  height: 96vh;
  top: 2vh;
  width: 600px;
  transition: .5s transform;
  .quit-plan-tab {
    position: absolute;
    box-shadow: -2px 2px 2px 0 rgba($gray, .5);
    bottom: .5rem;
    right: 100%;
    background: url($asset-svg-base + 'calendar-blue.svg') 50% .75rem no-repeat $white;
    -webkit-background-size: 1.9rem auto;
    background-size: 1.9rem auto;
    width: 6.5rem;
    height: 6.5rem;
    padding: 3.2rem 1rem 1rem 1rem;
    color: $teal;
    text-align: center;
    font-size: .9rem;
    line-height: normal;
    z-index: 2;
    border: 0 solid $gray-light;
    border-top-width: 1px;
    &:after {
      content: 'Show my quit plan'
    }
  }

  &.open {
    transform: translate3d(-600px, 0, 0);
    .quit-plan-tab {
      background-image: url($asset-svg-base + 'close.svg');
      &:after {
        content: 'Hide my quit plan'
      }
    }
  }

  .quit-plan-info {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: $white;
    box-shadow: -1px 1px 2px 1px rgba($gray, .5);
    z-index: 1;

    h2 {
      margin-top: 3rem;
      font-size: 1.8rem;
      &:before {
        content: '';
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        margin-right: .5rem;
        background: url($asset-svg-base + 'calendar-blue.svg') 50% 50% no-repeat;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
        margin-top: -.7rem;
      }
    }

    .table {
      td {
        padding: 1.5rem;
      }
      p {
        &.question {
          font-weight: bold;
          margin-bottom: .5rem;
        }
        &.answer {
          margin-bottom: 0;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    width: 98vw;
    &.open {
      transform: translate3d(-98vw, 0, 0);
    }
    .quit-plan-tab {
      transition: .5s transform;
      width: 3.5rem;
      height: 3.5rem;
      -webkit-background-size: 1.2rem auto;
      background-size: 1.2rem auto;
      padding: 2rem .2rem .2rem .2rem;
      border-width: 1px;
      &:after {
        content: 'Show';
      }
    }
    &.open {
      .quit-plan-tab {
        transform: translate3d(3rem, 0, 0);
        &:after {
          content: 'Hide';
        }
      }
    }
    .quit-plan-info {
      h2 {
        font-size: 1.4rem;
        &:before {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .session-text-outer {
    padding: 30px 10px;
  }

  .session-text {
    font-size: .9rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .session-media {
    padding: 0 0 45px;
  }

  .session-question-row {
    font-size: 1.45rem;
  }
}
