@import 'bootstrap/variables';

.page {
  min-height: 700px;
  padding: 0;
}

.page-table {
  height: 100%;
  width: 100%;

  td {
    padding: 0;
    vertical-align: top;

    &.dashboard-feature-content {
      color: $teal;
      font-family: 'Comfortaa', cursive;
      padding: 2rem;
      vertical-align: middle;
    }

    &.dashboard-top {
      background: url($asset-image-base + 'bg_landscape.png') 50% 50% no-repeat;
      background-size: cover;
    }

    &.dashboard-bottom {
      height: 33%;

      > .row {
        min-height: 300px;
      }
    }
  }
}

.header-row {
  padding: 2rem 2rem 0;
}

.logo {
  width: 280px;
}

.settings-dropdown {
  position: absolute;
  right: 0;
  top: -1rem;

  .dropdown-menu {
    margin-top: 0.65rem;
    min-width: 8.5rem;
    padding: 0;

    &:BEFORE {
        content:"\A";
        border-style: solid;
        border-width: 0 11px 13px 11px ;
        border-color: transparent transparent $gray-light transparent;
        position: absolute;
        right: 8px;
        bottom: 100%;
        margin-bottom: 0px;
    }

    &:AFTER {
        content:"\A";
        border-style: solid;
        border-width: 0 10px 13px 10px ;
        border-color: transparent transparent $white transparent;
        position: absolute;
        right: 9px;
        bottom: 100%;
        margin-bottom: -1px;
    }
  }

  .dropdown-item {
    color: $teal;
    padding: .5rem 1rem;
    text-align: center;

    &:active {
      background: $gray-lighter;
    }
  }

  .dropdown-divider {
    margin: 0;
  }
}

.settings-cog {
  background: url($asset-svg-base + 'cog.svg') 50% 50% no-repeat;
  display: block;
  height: 40px;
  width: 40px;
}

.dashboard-progress {
  background: $gray-lightest;
  color: $teal;
}

.dashboard-savings {
  background: $white;
  color: $pink;
}

.dashboard-progress,
.dashboard-savings {
  text-align: center;
}

.dashboard-book {
  color: $gray-dark;
  background: $gray-lighter;
  .btn-danger {
    background-color: $pink;
    border-color: $pink;
    &:hover {
      background-color: darken($pink, 5%);
      border-color: darken($pink, 5%);
    }
  }
  .book-cover {
    height: 80px;
  }
}

h1 {
  line-height: 1.4;
  margin-bottom: .8rem;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

.text-next-session {
  margin-top: 2rem;
  margin-bottom: 2.8rem;
}

.reminder-info {
  font-size: 1.2rem;

  a {
    font-size: .8rem;
  }
}

.btn-start {
  margin-top: 3rem;
}

.dashboard-bottom-box-pad {
  padding: 3rem;
}

.dashboard-bottom-image {
  height: 115px;
  margin-bottom: 1.2rem;
  position: relative;
}

.piggy-coin {
  left: 50%;
  margin-left: -15px;
  position: absolute;
}

.piggy {
  bottom: 0;
  left: 50%;
  margin-left: -52px;
  position: absolute;
}

.dashboard-bottom-info {
  font-family: 'Comfortaa', cursive;

  h3 {
    font-size: 1.6rem;
    margin-bottom: 1.1rem;

    &.large {
      font-size: 2.5rem;
      margin-bottom: 0;
    }
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 0;

    &.small {
      font-size: 1.1rem;
      margin-bottom: .5rem;
    }
  }
}

.text-next-session {
  color: $pink;
}

.pie {
  background: $gray-light;
  border-radius: 50%;
  display: inline-block;
  height: 116px;
  position:relative;
  width: 116px;
}

.pie-semi-crop,
.pie-semi-crop > .slice {
  border-radius: 0 116px 116px 0;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 58px;

  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;

  &.left {
    -moz-transform: rotate(-180deg); /* Firefox */
    -ms-transform: rotate(-180deg); /* IE */
    -webkit-transform: rotate(-180deg); /* Safari and Chrome */
    -o-transform: rotate(-180deg); /* Opera */
    transform:rotate(-180deg);
  }
}

.pie-semi-crop {
  left: 50%;

  > .slice {
    background: $teal;
  }
}

@include media-breakpoint-down(sm) {
  .header-row {
    padding: 2rem 1rem 0;
  }

  .logo {
    margin-top: 1.5rem;
    max-width: 280px;
    width: 80%;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1rem;
  }

  .btn-start {
    margin-top: 1.2rem;
  }

  .text-next-session {
    margin: 1.5rem 0;
  }

  .settings-cog {
    background-size: 100% auto;
    height: 30px;
    width: 30px;
  }

  .settings-dropdown {
    .dropdown-menu {
      &:BEFORE {
        right: 3px;
      }

      &:AFTER {
        right: 4px;
      }
    }
  }

  .reminder-info {
    font-size: 1rem;

    a {
      font-size: .6rem;
    }
  }
}
