//custom bootstrap variables
@import '../../global/bootstrap/variables';

.tree-alert {
  background: $green;
  color: $white;
  display: none;
  font-size: 16px;
  margin: 0;
  padding: .45rem 1.25rem;
  width: 100%;
  z-index: 2;

  .target-action {
    font-weight: 700;
    text-transform: capitalize;
  }
}

.save-notice {
  color: $green;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  margin-top: 5px;

  &.saving {
    color: $orange;
  }
}

.show-targets {
  .tree-alert {
    display: block;
  }

  .node-target {
    display: inline-block;
  }

  .node-add {
    display: none;
  }
}

.bootstrap-select {
  position: relative;
}


.dropdown-toggle.btn-light {
  border-color: $teal-lighter;
}

.header-bar .filter-option {
  text-align: center !important;
}

.dropdown-menu {
  background: $white;
  font-family: 'Comfortaa', cursive;

  &.node {
    background: $teal;
    border: 0;
    font-size: 15px;
    line-height: normal;
    margin-bottom: -2px;
    margin-left: -5px;
    min-width: 6rem;
    padding: 0;

    a {
      color: $white;
      padding: .4rem 1rem;

      &:hover,
      &:active,
      &:focus {
        background-color: $teal-light;
      }
    }

    .dropdown-divider {
      background-color: $teal-light;
      margin: 0;
    }

    &::after {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid $teal;
      bottom: -7px;
      content: '';
      display: inline-block;
      left: 11px;
      position: absolute;
    }
  }

  >li {
    &.hidden {
      display: none;
    }
  }

  a {
    background: 0 0;
    border: 0;
    clear: both;
    display: block;
    font-weight: 400;
    padding: 3px 1.5rem;
    text-align: inherit;
    white-space: nowrap;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.header-bar .dropdown-menu {
  text-align: center;
  z-index: 10;
}

.bottom-tree-area {
  background: $gray-light;
  height: 100%;
  position: relative;
  vertical-align: top;
  white-space: nowrap;

  .trumbowyg-editor {
    white-space: normal;
  }

  .bottom-tree-container {
    color: $teal;
    font-size: 0;
    height: 100%;
    left: 0;
    overflow: auto;
    padding: 100px 80px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .node-tree {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;

    >li {
      margin: 16px 32px 0;
      padding: 0;
      position: relative;

      //Join the line to left of li with line above as it will not quite reach at 100% height of previous li
      &:not(:first-child)>.tree-node::before {
        border-left: 3px solid $teal;
        top: 73px;
        content: '';
        display: block;
        height: 16px;
        left: -32px;
        position: absolute;
        width: 0;
      }
      
      //Long line left of li to link to li below
      &:not(:last-child)::after {
        border-left: 3px solid $teal;
        content: '';
        display: block;
        height: 100%;
        left: -32px;
        position: absolute;
        top: 89px;
        width: 0;
      }

      ul {
        margin-left: 32px;

        > li:first-child > .tree-node > .item-node::before {
          left: -64px;
          padding: 0 32px;
        }
      }
    }

    >li:first-child {
      margin-top: 0;
    }
  }
}


.session-starts {
  // vertical line right of the session starts label
  border-right: 3px solid $teal;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin: 81px 30px 1em 0;
  padding: 0 .5rem 0 0;
  position: relative;
  vertical-align: top;
  

  //hoizontal line linking session starts to node tree
  &::after {
    content: '';
    display: block;
    border-bottom: 3px solid $teal;
    width: 0;
    height: 0;
    right: -35px;
    top: 8px;
    padding: 0 16px;
    position: absolute;
  }
}

.tree-node {
  background: $white;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 260px;

  &.selected {
    box-shadow: 0 0 1px 3px $green;
  }

  &.editing {
    box-shadow: 0 0 1px 3px $teal-dark;
  }

  &.action-move .node-target {
    display: none;
  }
}

.item-node {
  white-space: normal;
  
  // horizontal line out the back of the node
  &::before {
    content: '';
    display: block;
    border-bottom: 3px solid $teal;
    width: 0;
    height: 0;
    left: -32px;
    top: 89px;
    padding: 0 16px;
    position: absolute;
  }
}

.node-inner {
  padding: 10px 35px 35px 10px;

  .node-goto-header {
    color: $teal;
    display: block;
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
    text-align: center;
  }

  .conditions {
    margin-bottom: 5px;
  }

  .btn-primary {
    width: 100%;
  }

  .input-group {
    margin-bottom: 5px;

    .dropdown-menu {
      font-size: 14px;
      max-height: 150px;
      overflow: auto;
      padding: 0;
      width: 100%;
      z-index: 4;

      >a {
        padding: .5rem .75rem;
      }
    }
  }
}

.btn-condition {
  font-family: inherit;
  font-size: 12px;
  margin: 0 2px 5px 0;
  width: auto;
  color: $primary;
  border-color: $primary;

  &:focus,
  &:active,
  &:hover {
    border-color: $red;
    color: $red;
  }
}

.input-group-addon {
  padding: 0;
}

.condition-add {
  background-image: url($asset-image-base + 'cms_icon_add.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 13.5px 13px;
  display: inline-block;
  font-size: 24px;
  height: 100%;
  line-height: 24px;
  padding: 0 .75rem;
  text-decoration: none !important;
  width: 100%;
}

.node-bar {
  background: $gray-lightest;
  font-size: 0;
  line-height: 0;
  position: absolute;

  &.bottom {
    bottom: 0;
    height: 25px;
    left: 0;
    padding-right: 25px;
    text-align: center;
    width: 100%;

    .node-add {
      height: 100%;
      width: 35px;
    }

    .node-target {
      height: 100%;
      width: 70px;
    }

    .page-status {
      font-size: 14px;
      line-height: 24px;
      position: absolute;
      right: 5px;
      top: 0;
      z-index: 2;
    }
  }

  &.right {
    height: 100%;
    right: 0;
    top: 0;
    width: 25px;

    .node-add-group {
      left: 0;
      margin-top: -35px;
      position: absolute;
      top: 89px;
      width: 100%;
    }

    .node-add {
      height: 35px;
      width: 100%;
    }

    .node-target {
      height: 70px;
      width: 100%;
    }
  }
}

.node-add {
  background: 50% 50% no-repeat $teal-light;
  display: inline-block;
  opacity: .5;
  overflow: hidden;
  text-indent: -999px;
  transition: opacity $transition-dur;

  &.page {
    background-image: url($asset-image-base + 'cms_icon_addNode.png');
    background-size: 14px 13.5px;
  }

  &.link {
    background-image: url($asset-image-base + 'cms_icon_linkNode.png');
    background-size: 14.5px 14.5px;
  }

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }
}

.node-target {
  background: url($asset-image-base + 'cms_icon_target.png') 50% 50% no-repeat $green;
  background-size: 17px 17px;
  display: none;
  overflow: hidden;
  text-indent: -999px;
}

.tree-node .dropup {
  display: inline-block;
  height: 35px;
  position: relative;
  width: 100%;

  .node-menu {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;

    .icon {
      background: url($asset-image-base + 'cms_icon_NodeMenu.png') 50% 100% no-repeat;
      background-size: 100% 200%;
      height: 14.5px;
      left: 50%;
      margin: -8px auto auto -8px;
      position: absolute;
      top: 50%;
      width: 16px;
    }
  }

  &.show .icon {
    background-position: 50% 0;
  }
}

.tree-icon-question-answer {
  display: none;
}

.node-tree .node-tree > li:first-child > .tree-icon-question-answer {
  background: url($asset-image-base + 'cms_icon_connect.png') 50% 50% no-repeat;
  background-size: 17px 17.5px;
  display: inline-block;
  height: 18px;
  left: -30px;
  margin-left: -9px;
  margin-top: -9px;
  position: absolute;
  top: 89px;
  width: 18px;
  z-index: 2;
}

.right-bar {
  font-size: 16px;
  height: 100%;
  overflow: hidden;

  .right-bar-inner {
    background: $gray-lightest;
    border-left: 3px solid $teal-dark;
    color: $gray-dark;
    height: 100%;
    margin-right: -540px;
    position: relative;
    transition: margin $transition-dur;
    width: 540px;

    .right-bar-scroller {
      height: 100%;
      left: 0;
      overflow: auto;
      padding: 20px;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &.show {
    .right-bar-inner {
      margin-right: 0;
    }
  }
}

.close-sidebar {
  font-size: 3.2rem;
  line-height: .6;
  overflow: hidden;
}

.side-bar-top {
  margin-bottom: 20px;

  .custom-control {
    margin-bottom: 0;
    margin-top: .5rem;
    padding-left: 0;
  }
}

.custom-control-input {
  ~ .toggle-indicator {
    background: $gray-light;
    border-radius: 13px;
    display: inline-block;
    height: 26px;
    position: relative;
    top: 0;
    transition: background $transition-dur;
    width: 45px;
    vertical-align: middle;

    .toggle-circle {
      background: $white;
      border-radius: 50%;
      display: inline-block;
      height: 18px;
      left: 4px;
      position: absolute;
      top: 4px;
      transition: margin-left $transition-dur;
      width: 18px;
    }

    ~ .custom-control-label {
      color: $gray-light;
      font-size: 18px;
      font-weight: bold;
      line-height: 26px;
      margin-left: 5px;
      transition: color $transition-dur;
      vertical-align: middle;
      &:before,
      &:after {
        display: none;
      }
    }
  }

  &:checked ~ .toggle-indicator {
    background: $green !important;

    .toggle-circle {
      margin-left: 19px;
    }

    ~ .custom-control-label {
      color: $green;
    }
  }
}

.side-bar-form {
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-text {
    color: $gray;
  }

  .conditions {
    .btn {
      display: inline-block;
      font-family: inherit;
      font-size: 14px;
      margin: 5px 5px 0 0;
    }
  }

  .nav-tabs {
    border-bottom: 0;
  }

  .nav-item {
    a {
      border-bottom: 3px solid $gray-light;
      color: $gray-light;
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none !important;
      width: 100%;

      &.active {
        border-color: $teal;
        color: $teal !important;
      }
    }
  }

  .tab-pane {
    padding: 20px 0;
  }

  .media-tab-type.hidden {
    display: none;
  }

  .media-current {
    margin: 15px 0;
    text-align: left;

    &.image img {
      border: 1px solid $teal-light;
      display: inline-block;
      max-height: 400px;
      max-width: 100%;
    }
  }

  //.bootstrap-select {
  //  min-width: 160px;
  //}

  .progress {
    display: none;
    margin-top: 5px;
  }

  .trumbowyg-editor {
    background: $white;
  }

  .trumbowyg-box,
  .trumbowyg-editor {
    border-color: $teal-light;
  }

  .answers {
    padding-bottom: 10px;
    position: relative;
  }
}
