//custom bootstrap variables
@import 'bootstrap/variables';

body,
html {
  height: 100%;
  min-width: 820px;
}

a:focus,
a:hover {
  color: $white;
}

::-webkit-input-placeholder { //Chrome/Opera/Safari
  color: $teal-dark;
}
::-moz-placeholder { //Firefox 19+
  color: $teal-dark;
}
:-ms-input-placeholder { //IE 10+
  color: $teal-dark;
}
:-moz-placeholder { //Firefox 18-
  color: $teal-dark;
}
.form-control,
.input-group-addon {
  border-color: $teal-lighter;
}

.btn {
  font-family: 'Comfortaa', cursive;
}

td {
  padding: 0;
}

.popover {
  color: $gray-dark;
}

.popover-title {
  font-size: .8rem;
  padding: 4px 25px;
}

.popover-content {
  text-align: center;
}

.popover-content>.btn-group {
  display: inline-block;

  >.btn {
    border: 0;
  }

  .btn + .btn {
    margin-left: 0;
  }
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.page-container {
  padding: 0;
}

.top-table-row {
  height: 0;

  .header-bar {
    background: $white;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .ssa-logo {
    background: url($asset-image-base + 'logo.png') 50% 50% no-repeat;
    background-size: 100% auto;
    display: block;
    font-size: 0;
    height: 100px;
    margin: 0 0 0 25px;
    overflow: hidden;
    text-indent: -1000px;
    width: 250px;
  }

  .logout-link {
    background: $teal;
    color: $white;
    display: inline-block;
    font-size: 22px;
    line-height: 100px;
    margin-left: 100px;
    transition: background-color $transition-dur;
    width: 175px;

    &:hover,
    &:active,
    &:focus {
      background: $teal-dark;
      color: $white;
      text-decoration: none;
    }
  }
}

.bottom-table-row {
  height: 100%;
}
