{% block question 'What if I suffer from a mental health problem?' %}
{% block answer %}
  <p>A Roughly a quarter of all adults in Britain suffer some kind of mental health problem. Whatever your problem, you may be worried that quitting smoking will make it worse. In fact,
    usually things improve. Here are a few tips:</p>
  <ul>
    <li>Consider using either Champix or nicotine replacement therapy (NRT). Champix has been shown to help smokers with depression and schizophrenia to give up cigarettes. If your doctor
      says
      you can’t use Champix you can point them to the guidance from the medicine regulators.
    </li>
    <li>Getting support for your mental health problem can help with stopping smoking. Find a qualified psychologist who can teach you CBT (cognitive behavioural therapy), or try an
      internet-based course like Moodgym: https://moodgym.com.au/
    </li>
    <li>If you’re taking medication for schizophrenia, your doctor will need to check your dose and potentially reduce it as time goes by. This is because when you stop smoking your liver
      doesn’t get rid of the medicine so quickly.
    </li>
    <li>Don’t be alarmed by the nicotine withdrawal symptoms. Irritability, sleep problems, and many other reactions are normal and go away fairly quickly. If you’re using a nicotine
      product,
      use more of it to reduce these symptoms.
    </li>
    <li>You may need to take NRT or Champix for longer than 8-12 weeks. Your doctor should be able to give you a prescription for as long as you need.</li>
  </ul>
{% endblock %}
