{% block question 'I’m over 70 – do you have any special advice?' %}
{% block answer %}
  <p>A If you’re over 70, statistically your chances of stopping smoking are pretty good. Here are a few tips:</p>
  <ul>
    <li>You might already have some poor health caused by smoking, and it may get worse for a short while before it improves e.g. your cough might get worse for a couple of weeks. Also, if
      you
      have chronic lung disease, stopping smoking could trigger an acute event, so make sure your doctor knows what you’re doing, and you’re ready with your inhaler.
    </li>
    <li>If you have an issue with your kidneys, you should probably take half the dose of your stop smoking medicine, or just stick to nicotine products.</li>
    <li>A common reason for quitting is to be able to spend as much time with your grandchildren as possible. Thinking about this can be a strong source of motivation.</li>
  </ul>
{% endblock %}