//custom bootstrap variables
@import '../variables';
@import '../bootstrap/bootstrap';
$hfcbg: rgba(255, 255, 255, .2);
$hfcbgon: rgba(255, 255, 255, .25);

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

//.body-anim {
//  overflow-x: hidden;
//  overflow-y: auto;
//}

//.body-behind {
//  overflow-x: auto;
//  overflow-y: hidden;
//}

.overlay-anim.home-behind {
  overflow-x: hidden;
}

.home-behind .home-outer,
.home-anim .home-outer {
  display: inline-block;
  overflow: hidden;
}

.home-behind .home-outer {
  position: fixed;
}

.home-outer {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.site-wrapper {
  display: table;
  height: 100%;
  min-height: 100%;
  perspective: 1000px;
  position: relative;
  text-align: center;
  width: 100%;
}

.container-fluid {
  height: 100%;
}

.home-container {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
  padding: 0;
}

.main-home-row {
  height: 100%;
  padding-bottom: 250px;
}

.page-wrapper {
  display: table-row;
  height: 100%;
  min-height: 100%;
  text-align: center;
  width: 100%;
}

.site-wrapper>.container-fluid {
  height: 100%;
}

.home-left {
  background: $gray-lightest;
  color: $gray;
  height: 100%;
  z-index: 2;
}

.home-left-table {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

.home-left-table-cell {
  display: table-cell;
  height: 100%;
  position: relative;
  width: 100%;
}

.home-left-hmid {
  max-width: 430px;
  padding: 2rem;
  width: 100%;
}

.ssa-logo {
  background: url($asset-image-base + 'logo.png') 50% 50% no-repeat;
  background-size: 100% auto;
  display: inline-block;
  font-size: 0;
  height: 90px;
  margin-bottom: 25px;
  max-width: 344px;
  overflow: hidden;
  text-indent: -1000px;
  width: 100%;
}

.home-text {
  text-align: left;
}

.copy-notice {
  bottom: 0;
  color: $gray-light;
  font-size: 12px;
  left: 7px;
  line-height: 12px;
  position: absolute;
  transform: rotateZ(-90deg);
  transform-origin: 0 0;
  white-space: nowrap;
}

.copy-notice>a,
.copy-notice>a:hover,
.copy-notice>a:focus {
  color: inherit;
}

.home-right {
  height: 100%;
}

.video {
  display: table;
  font-size: 0;
  height: 100%;
  left: 0;
  line-height: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  top: 0;
  width: 100%;
}

.video-cover {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-cover-bg {
  background: url('//content.jwplatform.com/thumbs/JpuXFVbD-1920.jpg') 50% 50% no-repeat $gray-dark;
  background-size: 110% 120%;
  filter: blur(30px);
  left: 0;
  position: absolute;
  top: 0;
}

.video-center,
.video-center>.jwplayer {
  background: transparent;
  bottom: -9999px;
  height: 100%;
  left: -9999px;
  margin: auto;
  position: absolute;
  right: -9999px;
  top: -9999px;
}

.video-spacer-image {
  display: none;
}

.play-button {
  background: $teal;
  color: $white;
  font-family: 'Comfortaa', cursive;
  font-size: 32px;
  height: 70px;
  line-height: 70px;
  margin-top: -35px;
  max-width: 280px;
  min-width: 200px;
  padding-right: 90px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 25%;
}

.play-button:hover,
.play-button:focus {
  color: $white;
  text-decoration: none;
}

.play-icon {
  background: url($asset-image-base + 'icon_play.png') 50% 50% no-repeat $pink;
  background-size: 30.5px 34.5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 90px;
}

.bottom-links {
  bottom: 0;
  font-size: 0;
  height: 250px;
  left: 0;
  line-height: 0;
  position: absolute;
  width: 100%;
}

.bottom-links>.main-home-link-outer {
  height: 100%;
  width: 50%;
}

.main-home-link {
  color: $white;
  display: table;
  font-family: 'Comfortaa', cursive;
  font-size: 60px;
  height: 100%;
  line-height: normal;
  position: relative;
  width: 100%;
}

.main-home-link-cell {
  display: table-cell;
  height: 100%;
  width: 100%;
}

.main-home-link:hover,
.main-home-link:focus {
  color: $white;
}

a,
button {
  perspective: 1000px;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
}

.link-text-size {
  backface-visibility: hidden;
  display: inline-block;
  transform: translateZ(0);
  transform-origin: 50% 50%;
}

.link-text-size,
.close-page-icon {
  transition: transform .6s, opacity .65s;
}

a:hover .link-text-size,
button:hover .link-text-size,
.close-page-icon:hover {
  transform: translateZ(100px);
}

a:active:hover .link-text-size,
button:active:hover .link-text-size,
.close-page-icon:active:hover {
  opacity: 1;
  transform: translateZ(150px);
}

.link-clicked .link-text-size,
.close-page-icon.link-clicked {
  opacity: 0;
  transform: translateZ(-4000px) !important;
}

.login {
  background: $teal;
}

.register {
  background: $pink;
}

.login-logos {
  font-size: 0;
  line-height: 0;
  margin-top: 20px;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
}

.login-logos>img {
  display: inline-block;
  margin: 0 8px;
  position: relative;
}

.wrapper-outer {
  backface-visibility: hidden;
  display: none;
  height: 100%;
  min-width: 320px;
  overflow: hidden;
  pointer-events: none;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}

.wrapper-outer.wrapper-show {
  display: table;
}

.wrapper-outer.wrapper-anim-out {
  display: inline-block;
  position: fixed;
}

.login-wrapper,
.register-wrapper {
  backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  pointer-events: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.wrapper-show,
.wrapper-anim-out {
  .login-wrapper,
  .register-wrapper {
    display: table;
    position: relative;
  }
}


.login-wrapper {
  background: $teal;

  .social-logins {
    margin-top: 45px;
  }

  .social-login-link {
    background-color: $teal-dark;
    background-color: $teal-dark-50;
    display: table;
    color: $teal-lighter;
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
    height: 65px;
    transition: color .3s;
    width: 100%;
  }

  .social-login-link:hover {
    color: $white;
    text-decoration: none;
  }

  .twit-link {
    margin: 10px 0;
  }

  .social-icon {
    background-color: $teal-dark;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: table-cell;
    height: 100%;
    width: 125px;
  }

  .face-link>.social-icon {
    background-image: url($asset-image-base + 'login_logo_f.png');
    background-size: 15px auto;
  }

  .twit-link>.social-icon {
    background-image: url($asset-image-base + 'login_logo_t.png');
    background-size: 34.5px auto;
  }

  .goog-link>.social-icon {
    background-image: url($asset-image-base + 'login_logo_g.png');
    background-size: 28.5px auto;
  }

  .social-link-cell {
    display: table-cell;
    height: 100%;
    padding-left: 25px;
    text-align: left;
  }
}

.register-wrapper {
  background: $pink;

  .form-control-feedback {
    margin-top: 0;
    padding: 5px 10px;
    text-align: left;
  }
}

.inner-form-container {
  display: inline-block;
  max-width: 600px;
  padding: 90px 15px;
}

.close-link {
  display: inline-block;
  perspective: 1000px;
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 10;
}

.close-page-icon {
  background: url($asset-image-base + 'icon_close.png') 50% 50% no-repeat;
  background-size: 37px 37px;
  display: inline-block;
  height: 37px;
  width: 37px;
}

.form-header {
  font-family: 'Comfortaa', cursive;
  font-size: 60px;
  font-weight: normal;
  margin: 0 0 30px;
}

.home-form-control {
  background-color: $gray;
  background-color: $hfcbg;
  border: 0;
  border-radius: 0;
  color: $white;
  font-size: 28px;
  font-weight: 300;
  margin-top: 10px;
}

.home-form-control:focus {
  background-color: $hfcbgon;
  color: $white;
}

.home-form-control::-webkit-input-placeholder {
  color: $white;
  opacity: .4;
}

.home-form-control::-moz-placeholder {
  @extends .home-form-control::-webkit-input-placeholder;
}

.home-form-control:-ms-input-placeholder {
  @extends .home-form-control::-webkit-input-placeholder;
}

.btn-login,
.btn-register {
  background: $teal-dark;
  border-radius: 0;
  color: $white;
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-size: 26px;
  margin-top: 10px;
  padding: .75rem 1.5rem;
  width: 100%;
}

.btn-register {
  background: $red;
}

.btn-login:hover,
.btn-register:hover {
  color: $white;
}

.form-text {
  color: $white;
  font-size: 18px;
  margin-top: 5px;
  text-align: left;
}

.password-help>ul {
  list-style: none;
  padding-left: 0;
}

.password-help>ul>li {
  margin: 0;
  padding: 0;
}

.list-tick {
  background: url($asset-image-base + 'icon_tick.png') 50% 50% no-repeat;
  background-size: 11.5px auto;
  display: inline-block;
  height: 100%;
  margin-right: 5px;
  min-height: 27px;
  opacity: .5;
  transition: opacity .3s;
  vertical-align: top;
  width: 12px;
}

.valid>.list-tick {
  opacity: 1;
}

.has-danger .form-control-feedback {
  background: $red;
  color: $white;
}

.mobile-video-holder {
  .video {
    height: auto;
    width: 100%;
  }

  .video-center {
    bottom: auto;
    height: auto;
    left: auto;
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
  }

  .video-spacer-image {
    display: inline-block;
    width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .site-wrapper {
    overflow: hidden;
  }
}

@include media-breakpoint-down(sm) {
  .main-home-row {
    height: auto;
    padding-bottom: 0;
  }

  .home-left-hmid {
    max-width: none;
    padding: 0;
    width: 100%;
  }

  .home-inner-mobile {
    padding: 1.5rem 2.5rem;
  }

  .ssa-logo {
    margin: 0;
  }

  .play-button {
    font-size: 24px;
    height: 44px;
    line-height: 44px;
    margin-top: -22px;
    min-width: 140px;
    padding-right: 50px;
    width: 20%;
  }

  .play-icon {
    background-size: auto 50%;
    width: 50px;
  }

  .bottom-links {
    height: auto;
    position: relative;
  }

  .bottom-links>.main-home-link-outer {
    height: auto;
    width: 100%;
  }

  .main-home-link {
    height: 160px;
    width: 100%;
  }

  .login>.main-home-link-cell>.d-inline-block {
    margin-top: 10px;
  }

  .main-home-link {
    font-size: 50px;
  }

  .login-logos {
    margin-top: 10px;
    position: relative;
  }

  .close-page-icon {
    right: 30px;
    top: 30px;
  }

  .form-header {
    font-size: 50px;
  }

  .login-wrapper {
    .social-login-link {
      font-size: 16px;
      height: 50px;
    }

    .social-icon {
      width: 65px;
    }

    .social-link-cell {
      padding-left: 10px;
    }
  }

  .btn-login,
  .btn-register,
  .home-form-control {
    font-size: 21px;
  }

  .form-control-lg {
    padding: .75rem 1rem;
  }
}
