//custom bootstrap variables
@import '../variables';
@import '../bootstrap/bootstrap';

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

.container-fluid {
  padding: 0;
}

.main-home-row {
  height: 100%;
  padding-bottom: 250px;
}

.site-wrapper {
  display: table;
  height: 100%;
  min-height: 100%;
  text-align: center;
  width: 100%;
}

.site-wrapper>.container-fluid {
  height: 100%;
}

.home-left {
  background: $gray-lightest;
  color: $gray;
  z-index: 2;
  height: 100%;
}

.home-left-table {
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

.home-left-table-cell {
  display: table-cell;
  height: 100%;
  position: relative;
  width: 100%;
}

.home-left-hmid {
  max-width: 430px;
  padding: 2rem;
  width: 100%;
}

.ssa-logo {
  background: url($asset-image-base + 'logo.png') 50% 50% no-repeat;
  background-size: 100% auto;
  display: inline-block;
  font-size: 0;
  height: 90px;
  margin-bottom: 25px;
  max-width: 344px;
  overflow: hidden;
  text-indent: -1000px;
  width: 100%;
}

.home-text {
  text-align: left;
}

.copy-notice {
  bottom: 0;
  color: $gray-light;
  font-size: 12px;
  left: 7px;
  line-height: 12px;
  position: absolute;
  transform: rotateZ(-90deg);
  transform-origin: 0 0;
  white-space: nowrap;
}

.copy-notice>a,
.copy-notice>a:hover,
.copy-notice>a:focus {
  color: inherit;
}

.home-right {
  height: 100%;
}

.video {
  display: table;
  font-size: 0;
  height: 100%;
  left: 0;
  line-height: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  top: 0;
  width: 100%;
}

.video-cover {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-cover-image {
  bottom: -9999px;
  height: 100%;
  left: -9999px;
  margin: auto;
  position: absolute;
  right: -9999px;
  top: -9999px;
}

.play-button {
  background: $teal;
  color: $white;
  font-family: 'Comfortaa', cursive;
  font-size: 32px;
  height: 70px;
  line-height: 70px;
  margin-top: -35px;
  max-width: 280px;
  min-width: 200px;
  padding-right: 90px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  width: 25%;
}

.play-button:hover,
.play-button:focus {
  color: $white;
  text-decoration: none;
}

.play-icon {
  background: url($asset-image-base + 'icon_play.png') 50% 50% no-repeat $pink;
  background-size: 30.5px 34.5px;
  height: 100%;
  position: absolute;
  right: 0;
  width: 90px;
}

.bottom-links {
  bottom: 0;
  font-size: 0;
  height: 250px;
  left: 0;
  line-height: 0;
  position: absolute;
  width: 100%;
}

.bottom-links>.main-home-link-outer {
  height: 100%;
  width: 50%;
}

.main-home-link {
  color: $white;
  display: table;
  font-family: 'Comfortaa', cursive;
  font-size: 60px;
  height: 100%;
  line-height: normal;
  position: relative;
  width: 100%;
}

.main-home-link-cell {
  display: table-cell;
  height: 100%;
  width: 100%;
}

.main-home-link:hover,
.main-home-link:focus {
  color: $white;
}

.login {
  background: $teal;
}

.register {
  background: $pink;
}

.login-logos {
  font-size: 0;
  line-height: 0;
  margin-top: 20px;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
}

.login-logos>img {
  display: inline-block;
  margin: 0 8px;
  position: relative;
}

.mobile-video-holder {
  .video {
    height: auto;
    width: 100%;
  }

  .video-cover-image {
    bottom: auto;
    height: auto;
    left: auto;
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
  }
}

@include media-breakpoint-down(sm) {
  .main-home-row {
    height: auto;
    padding-bottom: 0;
  }

  .home-left-hmid {
    max-width: none;
    padding: 0;
    width: 100%;
  }

  .home-inner-mobile {
    padding: 1.5rem 2.5rem;
  }

  .ssa-logo {
    margin: 0;
  }

  .play-button {
    font-size: 24px;
    height: 44px;
    line-height: 44px;
    margin-top: -22px;
    min-width: 140px;
    padding-right: 50px;
    width: 20%;
  }

  .play-icon {
    background-size: auto 50%;
    width: 50px;
  }


  .bottom-links {
    height: auto;
    position: relative;
  }

  .bottom-links>.main-home-link-outer {
    height: auto;
    width: 100%;
  }

  .main-home-link {
    height: 160px;
    width: 100%;
  }

  .login>.main-home-link-cell>.d-inline-block {
    margin-top: 10px;
  }
  
  .main-home-link {
    font-size: 50px;
  }

  .login-logos {
    margin-top: 10px;
    position: relative;
  }
}
