$teal-light:	#53b5dd;
$teal-lighter:	#a8d2e4;
$teal-dark:		rgb(27, 130, 167);
$teal-dark-50:	rgba(27, 130, 167, .5);
$asset-url-base:	'/';
$asset-image-base:	$asset-url-base + 'bundles/app/images/';

body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  min-width: 320px;
}
