/* line 3, assetic_compassMTAT3E.scss */
html,
body {
  background: #fff;
  color: #737373;
}

/* line 9, assetic_compassMTAT3E.scss */
.bootstrap-select.show > .dropdown-menu {
  height: 100vh;
  min-height: 100px !important;
}

/* line 14, assetic_compassMTAT3E.scss */
.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block;
  height: 100%;
  max-height: none !important;
  min-height: none !important;
  position: absolute;
  top: 0;
}

/* line 23, assetic_compassMTAT3E.scss */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  vertical-align: middle;
}

/* line 27, assetic_compassMTAT3E.scss */
.text-input::-webkit-input-placeholder {
  color: #fff;
  opacity: .4;
}

/* line 32, assetic_compassMTAT3E.scss */
.text-input::-moz-placeholder {
  @extends .home-form-control::-webkit-input-placeholder;
}

/* line 36, assetic_compassMTAT3E.scss */
.text-input:-ms-input-placeholder {
  @extends .home-form-control::-webkit-input-placeholder;
}

/* line 40, assetic_compassMTAT3E.scss */
h3 {
  color: #1e92c1;
  font-size: 1.4rem;
}

/* line 45, assetic_compassMTAT3E.scss */
.session-text-outer {
  padding: 55px 20px 55px 45px;
}

/* line 49, assetic_compassMTAT3E.scss */
.session-text {
  font-size: 1.1rem;
}

/* line 53, assetic_compassMTAT3E.scss */
.session-media {
  padding: 45px 45px 45px 20px;
}

/* line 58, assetic_compassMTAT3E.scss */
.col-media {
  max-width: 1000px;
  width: 50%;
}

/* line 64, assetic_compassMTAT3E.scss */
.session-media img {
  width: 100%;
}
/* line 68, assetic_compassMTAT3E.scss */
.session-media .embed-container {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
/* line 76, assetic_compassMTAT3E.scss */
.session-media .embed-container iframe,
.session-media .embed-container object,
.session-media .embed-container embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 87, assetic_compassMTAT3E.scss */
.session-question-row {
  background: #1e92c1;
  color: #fff;
  font-size: 1.6rem;
  padding: 40px;
  text-align: center;
}

/* line 95, assetic_compassMTAT3E.scss */
.session-question {
  margin-bottom: .5rem;
}

/* line 99, assetic_compassMTAT3E.scss */
.session-input {
  display: block;
  font-size: 0;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}
/* line 106, assetic_compassMTAT3E.scss */
.session-input .radio-wrapper-outer {
  display: inline-block;
  max-width: 600px;
  position: relative;
  width: 100%;
}
/* line 113, assetic_compassMTAT3E.scss */
.session-input .custom-control {
  margin: 0;
  padding: 0;
}
/* line 117, assetic_compassMTAT3E.scss */
.session-input .custom-control.text-radio {
  width: 50%;
}
/* line 121, assetic_compassMTAT3E.scss */
.session-input .custom-control.emoticon-radio {
  margin: 0 20px;
}
/* line 126, assetic_compassMTAT3E.scss */
.session-input .custom-control-description {
  background: #1b82a7;
  border: 1px solid #1e92c1;
  color: rgba(255, 255, 255, 0.6);
  padding: .5rem 1rem;
  transition: color .3s;
  width: 100%;
}
/* line 135, assetic_compassMTAT3E.scss */
.session-input .custom-control-description,
.session-input .bootstrap-select .btn,
.session-input .text-input,
.session-input .input-group-addon.text-pre {
  font-size: 1.4rem;
}
/* line 142, assetic_compassMTAT3E.scss */
.session-input .bootstrap-select .btn,
.session-input .text-input,
.session-input .input-group-addon.text-pre {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  color: #fff;
}
/* line 149, assetic_compassMTAT3E.scss */
.session-input .bootstrap-select .btn ~ .input-group-addon,
.session-input .text-input ~ .input-group-addon,
.session-input .input-group-addon.text-pre ~ .input-group-addon {
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  color: #fff;
}
/* line 156, assetic_compassMTAT3E.scss */
.session-input .input-group-addon.text-pre {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 160, assetic_compassMTAT3E.scss */
.session-input .bootstrap-select {
  max-width: 500px;
  padding: 0;
}
/* line 165, assetic_compassMTAT3E.scss */
.session-input .bootstrap-select > .dropdown-toggle:hover, .session-input .bootstrap-select > .dropdown-toggle:focus, .session-input .bootstrap-select > .dropdown-toggle:active {
  color: #fff;
  outline: none !important;
}
/* line 174, assetic_compassMTAT3E.scss */
.session-input .dropdown-toggle::after {
  border-width: .4em .3em  0;
  margin-left: 0;
}
/* line 179, assetic_compassMTAT3E.scss */
.session-input .dropdown-menu {
  padding: 0;
}
/* line 182, assetic_compassMTAT3E.scss */
.session-input .dropdown-menu li a {
  display: inline-block;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  width: 100%;
}
/* line 188, assetic_compassMTAT3E.scss */
.session-input .dropdown-menu li a:focus {
  outline: none;
}
/* line 194, assetic_compassMTAT3E.scss */
.session-input .text-input-outer {
  display: inline-block;
  position: relative;
  width: 100%;
}
/* line 199, assetic_compassMTAT3E.scss */
.session-input .text-input-outer.text {
  max-width: 800px;
}
/* line 203, assetic_compassMTAT3E.scss */
.session-input .text-input-outer.number, .session-input .text-input-outer.date {
  max-width: 360px;
}
/* line 209, assetic_compassMTAT3E.scss */
.session-input .text-input {
  line-height: 1.25;
  padding: 15px;
  width: 100%;
}
/* line 214, assetic_compassMTAT3E.scss */
.session-input .text-input:focus {
  outline: none;
}
/* line 219, assetic_compassMTAT3E.scss */
.session-input .custom-radio .custom-control-input:checked ~ .custom-control-description {
  color: #fff;
}
/* line 223, assetic_compassMTAT3E.scss */
.session-input .custom-control-emoticon {
  display: inline-block;
  height: 75px;
  opacity: .2;
  transition: opacity .3s;
  width: 75px;
}
/* line 231, assetic_compassMTAT3E.scss */
.session-input .happy .custom-control-emoticon {
  background: url("/bundles/app/svg/happy.svg") 50% 50% no-repeat;
}
/* line 235, assetic_compassMTAT3E.scss */
.session-input .neutral .custom-control-emoticon {
  background: url("/bundles/app/svg/neutral.svg") 50% 50% no-repeat;
}
/* line 239, assetic_compassMTAT3E.scss */
.session-input .sad .custom-control-emoticon {
  background: url("/bundles/app/svg/sad.svg") 50% 50% no-repeat;
}
/* line 243, assetic_compassMTAT3E.scss */
.session-input .custom-radio .custom-control-input:checked ~ .custom-control-emoticon {
  opacity: 1;
}

/* line 248, assetic_compassMTAT3E.scss */
.session-continue-row {
  padding: 30px;
  text-align: center;
}

/* line 253, assetic_compassMTAT3E.scss */
.custom-control {
  margin-right: 0;
  padding-left: 0;
}

@media (max-width: 809px) {
  /* line 259, assetic_compassMTAT3E.scss */
  .session-text-outer {
    padding: 30px 10px;
  }

  /* line 263, assetic_compassMTAT3E.scss */
  .session-text {
    font-size: .9rem;
  }

  /* line 267, assetic_compassMTAT3E.scss */
  h3 {
    font-size: 1.25rem;
  }

  /* line 271, assetic_compassMTAT3E.scss */
  .session-media {
    padding: 0 0 45px;
  }

  /* line 275, assetic_compassMTAT3E.scss */
  .session-question-row {
    font-size: 1.45rem;
  }
}
