/* line 4, assetic_compasslJfUa7.scss */
.tree-alert {
  background: #3baf29;
  color: #fff;
  display: none;
  font-size: 16px;
  margin: 0;
  padding: .45rem 1.25rem;
  width: 100%;
  z-index: 2;
}
/* line 14, assetic_compasslJfUa7.scss */
.tree-alert .target-action {
  font-weight: 700;
  text-transform: capitalize;
}

/* line 20, assetic_compasslJfUa7.scss */
.save-notice {
  color: #3baf29;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  margin-top: 5px;
}
/* line 27, assetic_compasslJfUa7.scss */
.save-notice.saving {
  color: #f0ad4e;
}

/* line 33, assetic_compasslJfUa7.scss */
.show-targets .tree-alert {
  display: block;
}
/* line 37, assetic_compasslJfUa7.scss */
.show-targets .node-target {
  display: inline-block;
}
/* line 41, assetic_compasslJfUa7.scss */
.show-targets .node-add {
  display: none;
}

/* line 46, assetic_compasslJfUa7.scss */
.bootstrap-select.show > .dropdown-menu > .dropdown-menu {
  display: block;
}

/* line 50, assetic_compasslJfUa7.scss */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  vertical-align: middle;
}

/* line 54, assetic_compasslJfUa7.scss */
.dropdown-toggle.btn-secondary {
  border-color: #a8d2e4;
}

/* line 58, assetic_compasslJfUa7.scss */
.header-bar .filter-option {
  text-align: center !important;
  font-size: 24px;
}

/* line 63, assetic_compasslJfUa7.scss */
.dropdown-menu {
  background: #fff;
  font-family: 'Comfortaa', cursive;
}
/* line 67, assetic_compasslJfUa7.scss */
.dropdown-menu.node {
  background: #1e92c1;
  border: 0;
  font-size: 15px;
  line-height: normal;
  margin-bottom: -2px;
  margin-left: -5px;
  min-width: 6rem;
  padding: 0;
}
/* line 77, assetic_compasslJfUa7.scss */
.dropdown-menu.node a {
  color: #fff;
  padding: .4rem 1rem;
}
/* line 81, assetic_compasslJfUa7.scss */
.dropdown-menu.node a:hover, .dropdown-menu.node a:active, .dropdown-menu.node a:focus {
  background-color: #53b5dd;
}
/* line 88, assetic_compasslJfUa7.scss */
.dropdown-menu.node .dropdown-divider {
  background-color: #53b5dd;
  margin: 0;
}
/* line 93, assetic_compasslJfUa7.scss */
.dropdown-menu.node::after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #1e92c1;
  bottom: -7px;
  content: '';
  display: inline-block;
  left: 11px;
  position: absolute;
}
/* line 106, assetic_compasslJfUa7.scss */
.dropdown-menu > li.hidden {
  display: none;
}
/* line 111, assetic_compasslJfUa7.scss */
.dropdown-menu a {
  background: 0 0;
  border: 0;
  clear: both;
  display: block;
  font-weight: 400;
  padding: 3px 1.5rem;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
}
/* line 122, assetic_compasslJfUa7.scss */
.dropdown-menu a:focus {
  outline: none;
}

/* line 128, assetic_compasslJfUa7.scss */
.header-bar .dropdown-menu {
  text-align: center;
}
/* line 131, assetic_compasslJfUa7.scss */
.header-bar .dropdown-menu a {
  color: #1e92c1;
}

/* line 136, assetic_compasslJfUa7.scss */
.bottom-tree-area {
  background: #cccccc;
  height: 100%;
  position: relative;
  vertical-align: top;
  white-space: nowrap;
}
/* line 143, assetic_compasslJfUa7.scss */
.bottom-tree-area .trumbowyg-editor {
  white-space: normal;
}
/* line 147, assetic_compasslJfUa7.scss */
.bottom-tree-area .bottom-tree-container {
  color: #1e92c1;
  font-size: 0;
  height: 100%;
  left: 0;
  overflow: auto;
  padding: 100px 80px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* line 160, assetic_compasslJfUa7.scss */
.bottom-tree-area .node-tree {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 166, assetic_compasslJfUa7.scss */
.bottom-tree-area .node-tree > li {
  margin: 16px 32px 0;
  padding: 0;
  position: relative;
}
/* line 172, assetic_compasslJfUa7.scss */
.bottom-tree-area .node-tree > li:not(:first-child) > .tree-node::before {
  border-left: 3px solid #1e92c1;
  top: 73px;
  content: '';
  display: block;
  height: 16px;
  left: -32px;
  position: absolute;
  width: 0;
}
/* line 184, assetic_compasslJfUa7.scss */
.bottom-tree-area .node-tree > li:not(:last-child)::after {
  border-left: 3px solid #1e92c1;
  content: '';
  display: block;
  height: 100%;
  left: -32px;
  position: absolute;
  top: 89px;
  width: 0;
}
/* line 195, assetic_compasslJfUa7.scss */
.bottom-tree-area .node-tree > li ul {
  margin-left: 32px;
}
/* line 198, assetic_compasslJfUa7.scss */
.bottom-tree-area .node-tree > li ul > li:first-child > .tree-node > .item-node::before {
  left: -64px;
  padding: 0 32px;
}
/* line 205, assetic_compasslJfUa7.scss */
.bottom-tree-area .node-tree > li:first-child {
  margin-top: 0;
}

/* line 212, assetic_compasslJfUa7.scss */
.session-starts {
  border-right: 3px solid #1e92c1;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin: 81px 30px 1em 0;
  padding: 0 .5rem 0 0;
  position: relative;
  vertical-align: top;
}
/* line 226, assetic_compasslJfUa7.scss */
.session-starts::after {
  content: '';
  display: block;
  border-bottom: 3px solid #1e92c1;
  width: 0;
  height: 0;
  right: -35px;
  top: 8px;
  padding: 0 16px;
  position: absolute;
}

/* line 239, assetic_compasslJfUa7.scss */
.tree-node {
  background: #fff;
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 260px;
}
/* line 246, assetic_compasslJfUa7.scss */
.tree-node.selected {
  box-shadow: 0 0 1px 3px #3baf29;
}
/* line 250, assetic_compasslJfUa7.scss */
.tree-node.editing {
  box-shadow: 0 0 1px 3px #1b82a7;
}
/* line 254, assetic_compasslJfUa7.scss */
.tree-node.action-move .node-target {
  display: none;
}

/* line 259, assetic_compasslJfUa7.scss */
.item-node {
  white-space: normal;
}
/* line 263, assetic_compasslJfUa7.scss */
.item-node::before {
  content: '';
  display: block;
  border-bottom: 3px solid #1e92c1;
  width: 0;
  height: 0;
  left: -32px;
  top: 89px;
  padding: 0 16px;
  position: absolute;
}

/* line 276, assetic_compasslJfUa7.scss */
.node-inner {
  padding: 10px 35px 35px 10px;
}
/* line 279, assetic_compasslJfUa7.scss */
.node-inner .node-goto-header {
  color: #1e92c1;
  display: block;
  font-family: 'Comfortaa', cursive;
  font-size: 22px;
  text-align: center;
}
/* line 287, assetic_compasslJfUa7.scss */
.node-inner .conditions {
  margin-bottom: 5px;
}
/* line 291, assetic_compasslJfUa7.scss */
.node-inner .btn {
  width: 100%;
}
/* line 294, assetic_compasslJfUa7.scss */
.node-inner .btn.btn-sm {
  font-family: inherit;
  font-size: 12px;
  margin: 0 2px 5px 0;
  width: auto;
}
/* line 300, assetic_compasslJfUa7.scss */
.node-inner .btn.btn-sm:focus, .node-inner .btn.btn-sm:active, .node-inner .btn.btn-sm:hover {
  color: #a61d39;
}
/* line 308, assetic_compasslJfUa7.scss */
.node-inner .input-group {
  margin-bottom: 5px;
}
/* line 311, assetic_compasslJfUa7.scss */
.node-inner .input-group .dropdown-menu {
  font-size: 14px;
  max-height: 150px;
  overflow: auto;
  padding: 0;
  width: 100%;
  z-index: 4;
}
/* line 319, assetic_compasslJfUa7.scss */
.node-inner .input-group .dropdown-menu > a {
  padding: .5rem .75rem;
}

/* line 326, assetic_compasslJfUa7.scss */
.input-group-addon {
  padding: 0;
}

/* line 330, assetic_compasslJfUa7.scss */
.condition-add {
  background-image: url("/bundles/app/images/cms_icon_add.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 13.5px 13px;
  display: inline-block;
  font-size: 24px;
  height: 100%;
  line-height: 24px;
  padding: 0 .75rem;
  text-decoration: none !important;
  width: 100%;
}

/* line 344, assetic_compasslJfUa7.scss */
.node-bar {
  background: #f8f8f8;
  font-size: 0;
  line-height: 0;
  position: absolute;
}
/* line 350, assetic_compasslJfUa7.scss */
.node-bar.bottom {
  bottom: 0;
  height: 25px;
  left: 0;
  padding-right: 25px;
  text-align: center;
  width: 100%;
}
/* line 358, assetic_compasslJfUa7.scss */
.node-bar.bottom .node-add {
  height: 100%;
  width: 35px;
}
/* line 363, assetic_compasslJfUa7.scss */
.node-bar.bottom .node-target {
  height: 100%;
  width: 70px;
}
/* line 368, assetic_compasslJfUa7.scss */
.node-bar.bottom .page-status {
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  right: 5px;
  top: 0;
  z-index: 2;
}
/* line 378, assetic_compasslJfUa7.scss */
.node-bar.right {
  height: 100%;
  right: 0;
  top: 0;
  width: 25px;
}
/* line 384, assetic_compasslJfUa7.scss */
.node-bar.right .node-add-group {
  left: 0;
  margin-top: -35px;
  position: absolute;
  top: 89px;
  width: 100%;
}
/* line 392, assetic_compasslJfUa7.scss */
.node-bar.right .node-add {
  height: 35px;
  width: 100%;
}
/* line 397, assetic_compasslJfUa7.scss */
.node-bar.right .node-target {
  height: 70px;
  width: 100%;
}

/* line 404, assetic_compasslJfUa7.scss */
.node-add {
  background: 50% 50% no-repeat #53b5dd;
  display: inline-block;
  opacity: .5;
  overflow: hidden;
  text-indent: -999px;
  transition: opacity 0.3s;
}
/* line 412, assetic_compasslJfUa7.scss */
.node-add.page {
  background-image: url("/bundles/app/images/cms_icon_addNode.png");
  background-size: 14px 13.5px;
}
/* line 417, assetic_compasslJfUa7.scss */
.node-add.link {
  background-image: url("/bundles/app/images/cms_icon_linkNode.png");
  background-size: 14.5px 14.5px;
}
/* line 422, assetic_compasslJfUa7.scss */
.node-add:hover, .node-add:active, .node-add:focus {
  opacity: 1;
}

/* line 429, assetic_compasslJfUa7.scss */
.node-target {
  background: url("/bundles/app/images/cms_icon_target.png") 50% 50% no-repeat #3baf29;
  background-size: 17px 17px;
  display: none;
  overflow: hidden;
  text-indent: -999px;
}

/* line 437, assetic_compasslJfUa7.scss */
.tree-node .dropup {
  display: inline-block;
  height: 35px;
  position: relative;
  width: 100%;
}
/* line 443, assetic_compasslJfUa7.scss */
.tree-node .dropup .node-menu {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}
/* line 449, assetic_compasslJfUa7.scss */
.tree-node .dropup .node-menu .icon {
  background: url("/bundles/app/images/cms_icon_NodeMenu.png") 50% 100% no-repeat;
  background-size: 100% 200%;
  height: 14.5px;
  left: 50%;
  margin: -8px auto auto -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
/* line 461, assetic_compasslJfUa7.scss */
.tree-node .dropup.show .icon {
  background-position: 50% 0;
}

/* line 466, assetic_compasslJfUa7.scss */
.tree-icon-question-answer {
  display: none;
}

/* line 470, assetic_compasslJfUa7.scss */
.node-tree .node-tree > li:first-child > .tree-icon-question-answer {
  background: url("/bundles/app/images/cms_icon_connect.png") 50% 50% no-repeat;
  background-size: 17px 17.5px;
  display: inline-block;
  height: 18px;
  left: -30px;
  margin-left: -9px;
  margin-top: -9px;
  position: absolute;
  top: 89px;
  width: 18px;
  z-index: 2;
}

/* line 484, assetic_compasslJfUa7.scss */
.right-bar {
  font-size: 16px;
  height: 100%;
  overflow: hidden;
}
/* line 489, assetic_compasslJfUa7.scss */
.right-bar .right-bar-inner {
  background: #f8f8f8;
  border-left: 3px solid #1b82a7;
  color: #4d4d4d;
  height: 100%;
  margin-right: -540px;
  position: relative;
  transition: margin 0.3s;
  width: 540px;
}
/* line 499, assetic_compasslJfUa7.scss */
.right-bar .right-bar-inner .right-bar-scroller {
  height: 100%;
  left: 0;
  overflow: auto;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 511, assetic_compasslJfUa7.scss */
.right-bar.show .right-bar-inner {
  margin-right: 0;
}

/* line 517, assetic_compasslJfUa7.scss */
.close-sidebar {
  font-size: 3.2rem;
  line-height: .6;
  overflow: hidden;
}

/* line 523, assetic_compasslJfUa7.scss */
.side-bar-top {
  margin-bottom: 20px;
}
/* line 526, assetic_compasslJfUa7.scss */
.side-bar-top .custom-control {
  margin-bottom: 0;
  margin-top: .5rem;
  padding-left: 0;
}

/* line 534, assetic_compasslJfUa7.scss */
.custom-control-input ~ .toggle-indicator {
  background: #cccccc;
  border-radius: 13px;
  display: inline-block;
  height: 26px;
  position: relative;
  top: 0;
  transition: background 0.3s;
  width: 45px;
}
/* line 544, assetic_compasslJfUa7.scss */
.custom-control-input ~ .toggle-indicator .toggle-circle {
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  left: 4px;
  position: absolute;
  top: 4px;
  transition: margin-left 0.3s;
  width: 18px;
}
/* line 556, assetic_compasslJfUa7.scss */
.custom-control-input ~ .toggle-indicator ~ .custom-control-description {
  color: #cccccc;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-left: 5px;
  transition: color 0.3s;
}
/* line 566, assetic_compasslJfUa7.scss */
.custom-control-input:checked ~ .toggle-indicator {
  background: #3baf29 !important;
}
/* line 569, assetic_compasslJfUa7.scss */
.custom-control-input:checked ~ .toggle-indicator .toggle-circle {
  margin-left: 19px;
}
/* line 573, assetic_compasslJfUa7.scss */
.custom-control-input:checked ~ .toggle-indicator ~ .custom-control-description {
  color: #3baf29;
}

/* line 580, assetic_compasslJfUa7.scss */
.side-bar-form label {
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 585, assetic_compasslJfUa7.scss */
.side-bar-form .form-text {
  color: #737373;
}
/* line 590, assetic_compasslJfUa7.scss */
.side-bar-form .conditions .btn {
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  margin: 5px 5px 0 0;
}
/* line 598, assetic_compasslJfUa7.scss */
.side-bar-form .nav-tabs {
  border-bottom: 0;
}
/* line 603, assetic_compasslJfUa7.scss */
.side-bar-form .nav-item a {
  border-bottom: 3px solid #cccccc;
  color: #cccccc;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none !important;
  width: 100%;
}
/* line 612, assetic_compasslJfUa7.scss */
.side-bar-form .nav-item a.active {
  border-color: #1e92c1;
  color: #1e92c1 !important;
}
/* line 619, assetic_compasslJfUa7.scss */
.side-bar-form .tab-pane {
  padding: 20px 0;
}
/* line 623, assetic_compasslJfUa7.scss */
.side-bar-form .media-tab-type.hidden {
  display: none;
}
/* line 627, assetic_compasslJfUa7.scss */
.side-bar-form .media-current {
  margin: 15px 0;
  text-align: left;
}
/* line 631, assetic_compasslJfUa7.scss */
.side-bar-form .media-current.image img {
  border: 1px solid #53b5dd;
  display: inline-block;
  max-height: 400px;
  max-width: 100%;
}
/* line 639, assetic_compasslJfUa7.scss */
.side-bar-form .bootstrap-select {
  min-width: 160px;
}
/* line 643, assetic_compasslJfUa7.scss */
.side-bar-form .progress {
  display: none;
  margin-top: 5px;
}
/* line 648, assetic_compasslJfUa7.scss */
.side-bar-form .trumbowyg-editor {
  background: #fff;
}
/* line 652, assetic_compasslJfUa7.scss */
.side-bar-form .trumbowyg-box,
.side-bar-form .trumbowyg-editor {
  border-color: #53b5dd;
}
/* line 657, assetic_compasslJfUa7.scss */
.side-bar-form .answers {
  padding-bottom: 10px;
  position: relative;
}
