/* line 3, assetic_compassgHICqD.scss */
html,
body {
  height: 100%;
}

/* line 8, assetic_compassgHICqD.scss */
.btn-start {
  position: relative;
}
/* line 11, assetic_compassgHICqD.scss */
.btn-start:focus {
  color: #fff;
}

/* line 16, assetic_compassgHICqD.scss */
.next-icon {
  height: 20px;
  margin-left: .5rem;
  margin-top: -3px;
}

/* line 22, assetic_compassgHICqD.scss */
.alert {
  margin-bottom: 0;
}

/* line 26, assetic_compassgHICqD.scss */
.no-gutters[class*="session-"] {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 31, assetic_compassgHICqD.scss */
.exit-link {
  color: #737373;
  font-family: 'Comfortaa', cursive;
  font-size: .8rem;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 40, assetic_compassgHICqD.scss */
.session-header-row {
  padding: 15px;
}
/* line 43, assetic_compassgHICqD.scss */
.session-header-row .logo-header {
  background: url("/bundles/app/svg/logo_icon.svg") 0 50% no-repeat;
  display: inline-block;
  padding-left: 70px;
}
/* line 48, assetic_compassgHICqD.scss */
.session-header-row .logo-header h2 {
  color: #cccccc;
  font-size: 1.1rem;
  margin: 0;
}
/* line 54, assetic_compassgHICqD.scss */
.session-header-row .logo-header h1 {
  color: #1e92c1;
  font-size: 1.8rem;
  margin: .3rem 0 0;
}
/* line 61, assetic_compassgHICqD.scss */
.session-header-row .progress-bar {
  background: #cccccc;
  height: 8px;
  margin-top: .7rem;
  position: relative;
}
/* line 68, assetic_compassgHICqD.scss */
.session-header-row .progress {
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 10%;
}

@media (max-width: 809px) {
  /* line 80, assetic_compassgHICqD.scss */
  .session-header-row .logo-header {
    background-size: 40px auto;
    margin-top: 1.2rem;
    padding-left: 50px;
  }
  /* line 85, assetic_compassgHICqD.scss */
  .session-header-row .logo-header h1 {
    margin: 0;
  }

  /* line 91, assetic_compassgHICqD.scss */
  .exit-link {
    font-size: .7rem;
  }
}
@media (min-width: 810px) {
  /* line 97, assetic_compassgHICqD.scss */
  .btn-start {
    padding: 1.15rem 4.5rem;
  }
}

/* line 3, assetic_compassrNR91n.scss */
html,
body {
  background: #fff;
  color: #737373;
}

/* line 9, assetic_compassrNR91n.scss */
.session-header-row {
  padding: 25px;
}
/* line 13, assetic_compassrNR91n.scss */
.session-header-row .logo-header h1 {
  font-size: 2.2rem;
}

/* line 19, assetic_compassrNR91n.scss */
.session-content-row {
  background: #f8f8f8;
  padding: 3rem;
  text-align: center;
}
/* line 24, assetic_compassrNR91n.scss */
.session-content-row h3,
.session-content-row p {
  width: 100%;
}
/* line 29, assetic_compassrNR91n.scss */
.session-content-row h3 {
  color: #1e92c1;
  font-family: 'Comfortaa', cursive;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
/* line 35, assetic_compassrNR91n.scss */
.session-content-row h3.restart {
  color: #cccccc;
  font-size: 1.4rem;
  margin-bottom: 0;
}
/* line 42, assetic_compassrNR91n.scss */
.session-content-row hr {
  border-top: 1px solid #cccccc;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
  padding: 0;
}
/* line 49, assetic_compassrNR91n.scss */
.session-content-row .btn {
  display: inline-block;
}
/* line 53, assetic_compassrNR91n.scss */
.session-content-row .text-input {
  border: 1px solid #cccccc;
  transition: all .3s;
  width: 400px;
}
/* line 58, assetic_compassrNR91n.scss */
.session-content-row .text-input:focus, .session-content-row .text-input:hover, .session-content-row .text-input.isfilled {
  border: 1px solid #1e92c1;
  color: #1e92c1;
}
/* line 64, assetic_compassrNR91n.scss */
.session-content-row .text-input:focus::placeholder, .session-content-row .text-input:hover::placeholder, .session-content-row .text-input.isfilled::placeholder {
  color: #1e92c1;
}
/* line 69, assetic_compassrNR91n.scss */
.session-content-row .text-input::placeholder {
  transition: all .6s;
}
/* line 74, assetic_compassrNR91n.scss */
.session-content-row .form-text ul {
  margin: 0;
}

/* line 79, assetic_compassrNR91n.scss */
.btn-secondary.restart {
  background: #cccccc;
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
}
/* line 85, assetic_compassrNR91n.scss */
.btn-secondary.restart:hover, .btn-secondary.restart:focus {
  background: #a61d39;
  border-color: #a61d39;
  color: #fff;
}
/* line 92, assetic_compassrNR91n.scss */
.btn-secondary.restart:focus {
  box-shadow: 0 0 0 2px rgba(166, 29, 57, 0.5);
}

/* line 97, assetic_compassrNR91n.scss */
.password-help {
  text-align: left;
}
/* line 100, assetic_compassrNR91n.scss */
.password-help ul {
  padding-left: 20px;
}

/* line 105, assetic_compassrNR91n.scss */
.custom-checkbox {
  padding-left: 40px;
  margin-bottom: 1rem;
}
/* line 109, assetic_compassrNR91n.scss */
.custom-checkbox .custom-control-description {
  color: #1e92c1;
  font-size: 1.45rem;
  line-height: 32px;
}
/* line 115, assetic_compassrNR91n.scss */
.custom-checkbox .custom-control-indicator.ssa {
  background: #fff;
  border: 1px solid #1e92c1;
  display: inline-block;
  height: 32px;
  width: 32px;
  top: 0;
}
/* line 124, assetic_compassrNR91n.scss */
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator.ssa {
  background: url("/bundles/app/svg/tick.svg") 50% 50% no-repeat #fff;
}
/* line 128, assetic_compassrNR91n.scss */
.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator.ssa {
  box-shadow: none;
}

/* line 133, assetic_compassrNR91n.scss */
.password-help,
.btn-lg {
  width: 400px;
}

@media (max-width: 809px) {
  /* line 139, assetic_compassrNR91n.scss */
  .session-content-row {
    padding: 2rem 1rem;
  }
  /* line 142, assetic_compassrNR91n.scss */
  .session-content-row .text-input {
    font-size: 1rem;
    padding: .75rem;
    width: 100%;
  }
  /* line 148, assetic_compassrNR91n.scss */
  .session-content-row h3 {
    font-size: 1.4rem;
  }
  /* line 153, assetic_compassrNR91n.scss */
  .session-content-row .custom-checkbox .custom-control-description {
    font-size: 1.2rem;
  }

  /* line 159, assetic_compassrNR91n.scss */
  .password-help,
  .btn-lg {
    width: 100%;
  }

  /* line 164, assetic_compassrNR91n.scss */
  .btn-lg {
    font-size: 1rem;
  }

  /* line 168, assetic_compassrNR91n.scss */
  .session-header-row {
    padding: 15px 20px;
  }
  /* line 172, assetic_compassrNR91n.scss */
  .session-header-row .logo-header h1 {
    font-size: 1.6rem;
  }
}
