/* line 3, assetic_compasstXgKIf.scss */
html,
body {
  height: 100%;
}

/* line 8, assetic_compasstXgKIf.scss */
.btn-start {
  position: relative;
}
/* line 11, assetic_compasstXgKIf.scss */
.btn-start:focus {
  color: #fff;
}

/* line 16, assetic_compasstXgKIf.scss */
.next-icon {
  height: 20px;
  margin-left: .5rem;
  margin-top: -3px;
}

/* line 22, assetic_compasstXgKIf.scss */
.alert {
  margin-bottom: 0;
}

/* line 26, assetic_compasstXgKIf.scss */
.no-gutters[class*="session-"] {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 31, assetic_compasstXgKIf.scss */
.exit-link {
  color: #737373;
  font-family: 'Comfortaa', cursive;
  font-size: .8rem;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 40, assetic_compasstXgKIf.scss */
.session-header-row {
  padding: 15px;
}
/* line 43, assetic_compasstXgKIf.scss */
.session-header-row .logo-header {
  background: url("/bundles/app/svg/logo_icon.svg") 0 50% no-repeat;
  display: inline-block;
  padding-left: 70px;
}
/* line 48, assetic_compasstXgKIf.scss */
.session-header-row .logo-header h2 {
  color: #cccccc;
  font-size: 1.1rem;
  margin: 0;
}
/* line 54, assetic_compasstXgKIf.scss */
.session-header-row .logo-header h1 {
  color: #1e92c1;
  font-size: 1.8rem;
  margin: .3rem 0 0;
}
/* line 61, assetic_compasstXgKIf.scss */
.session-header-row .progress-bar {
  background: #cccccc;
  height: 8px;
  margin-top: .7rem;
  position: relative;
}
/* line 68, assetic_compasstXgKIf.scss */
.session-header-row .progress {
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 10%;
}

@media (max-width: 809px) {
  /* line 80, assetic_compasstXgKIf.scss */
  .session-header-row .logo-header {
    background-size: 40px auto;
    margin-top: 1.2rem;
    padding-left: 50px;
  }
  /* line 85, assetic_compasstXgKIf.scss */
  .session-header-row .logo-header h1 {
    margin: 0;
  }

  /* line 91, assetic_compasstXgKIf.scss */
  .exit-link {
    font-size: .7rem;
  }
}
@media (min-width: 810px) {
  /* line 97, assetic_compasstXgKIf.scss */
  .btn-start {
    padding: 1.15rem 4.5rem;
  }
}

/* line 3, assetic_compassHCDyeq.scss */
.page {
  min-height: 700px;
  padding: 0;
}

/* line 8, assetic_compassHCDyeq.scss */
.page-table {
  height: 100%;
  width: 100%;
}
/* line 12, assetic_compassHCDyeq.scss */
.page-table td {
  padding: 0;
  vertical-align: top;
}
/* line 16, assetic_compassHCDyeq.scss */
.page-table td.dashboard-feature-content {
  color: #1e92c1;
  font-family: 'Comfortaa', cursive;
  padding: 2rem;
  vertical-align: middle;
}
/* line 23, assetic_compassHCDyeq.scss */
.page-table td.dashboard-top {
  background: url("/bundles/app/images/bg_landscape.png") 50% 50% no-repeat;
  background-size: cover;
}
/* line 28, assetic_compassHCDyeq.scss */
.page-table td.dashboard-bottom {
  height: 33%;
}
/* line 31, assetic_compassHCDyeq.scss */
.page-table td.dashboard-bottom > .row {
  min-height: 300px;
}

/* line 38, assetic_compassHCDyeq.scss */
.header-row {
  padding: 2rem 2rem 0;
}

/* line 42, assetic_compassHCDyeq.scss */
.logo {
  width: 280px;
}

/* line 46, assetic_compassHCDyeq.scss */
.settings-dropdown {
  position: absolute;
  right: 0;
  top: -1rem;
}
/* line 51, assetic_compassHCDyeq.scss */
.settings-dropdown .dropdown-menu {
  margin-top: 0.65rem;
  min-width: 8.5rem;
  padding: 0;
}
/* line 56, assetic_compassHCDyeq.scss */
.settings-dropdown .dropdown-menu:BEFORE {
  content: "\A";
  border-style: solid;
  border-width: 0 11px 13px 11px;
  border-color: transparent transparent #cccccc transparent;
  position: absolute;
  right: 8px;
  bottom: 100%;
  margin-bottom: 0px;
}
/* line 67, assetic_compassHCDyeq.scss */
.settings-dropdown .dropdown-menu:AFTER {
  content: "\A";
  border-style: solid;
  border-width: 0 10px 13px 10px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  right: 9px;
  bottom: 100%;
  margin-bottom: -1px;
}
/* line 79, assetic_compassHCDyeq.scss */
.settings-dropdown .dropdown-item {
  color: #1e92c1;
  padding: .5rem 1rem;
  text-align: center;
}
/* line 84, assetic_compassHCDyeq.scss */
.settings-dropdown .dropdown-item:active {
  background: #eceeef;
}
/* line 89, assetic_compassHCDyeq.scss */
.settings-dropdown .dropdown-divider {
  margin: 0;
}

/* line 94, assetic_compassHCDyeq.scss */
.settings-cog {
  background: url("/bundles/app/svg/cog.svg") 50% 50% no-repeat;
  display: block;
  height: 40px;
  width: 40px;
}

/* line 101, assetic_compassHCDyeq.scss */
.dashboard-progress {
  background: #f8f8f8;
  color: #1e92c1;
}

/* line 106, assetic_compassHCDyeq.scss */
.dashboard-savings {
  background: #fff;
  color: #ef4467;
}

/* line 111, assetic_compassHCDyeq.scss */
.dashboard-progress,
.dashboard-savings {
  text-align: center;
}

/* line 116, assetic_compassHCDyeq.scss */
h1 {
  line-height: 1.4;
  margin-bottom: .8rem;
}

/* line 121, assetic_compassHCDyeq.scss */
h2 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

/* line 126, assetic_compassHCDyeq.scss */
.text-next-session {
  margin-top: 2rem;
  margin-bottom: 2.8rem;
}

/* line 131, assetic_compassHCDyeq.scss */
.reminder-info {
  font-size: 1.2rem;
}
/* line 134, assetic_compassHCDyeq.scss */
.reminder-info a {
  font-size: .8rem;
}

/* line 139, assetic_compassHCDyeq.scss */
.btn-start {
  margin-top: 3rem;
}

/* line 143, assetic_compassHCDyeq.scss */
.dashboard-bottom-box-pad {
  padding: 3rem;
}

/* line 147, assetic_compassHCDyeq.scss */
.dashboard-bottom-image {
  height: 115px;
  margin-bottom: 1.2rem;
  position: relative;
}

/* line 153, assetic_compassHCDyeq.scss */
.piggy-coin {
  left: 50%;
  margin-left: -15px;
  position: absolute;
}

/* line 159, assetic_compassHCDyeq.scss */
.piggy {
  bottom: 0;
  left: 50%;
  margin-left: -52px;
  position: absolute;
}

/* line 166, assetic_compassHCDyeq.scss */
.dashboard-bottom-info {
  font-family: 'Comfortaa', cursive;
}
/* line 169, assetic_compassHCDyeq.scss */
.dashboard-bottom-info h3 {
  font-size: 1.6rem;
  margin-bottom: 1.1rem;
}
/* line 173, assetic_compassHCDyeq.scss */
.dashboard-bottom-info h3.large {
  font-size: 2.5rem;
  margin-bottom: 0;
}
/* line 179, assetic_compassHCDyeq.scss */
.dashboard-bottom-info h4 {
  font-size: 1rem;
  margin-bottom: 0;
}
/* line 183, assetic_compassHCDyeq.scss */
.dashboard-bottom-info h4.small {
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

/* line 190, assetic_compassHCDyeq.scss */
.text-next-session {
  color: #ef4467;
}

/* line 194, assetic_compassHCDyeq.scss */
.pie {
  background: #cccccc;
  border-radius: 50%;
  display: inline-block;
  height: 116px;
  position: relative;
  width: 116px;
}

/* line 203, assetic_compassHCDyeq.scss */
.pie-semi-crop,
.pie-semi-crop > .slice {
  border-radius: 0 116px 116px 0;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 58px;
  -moz-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  -o-transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
}
/* line 217, assetic_compassHCDyeq.scss */
.pie-semi-crop.left,
.pie-semi-crop > .slice.left {
  -moz-transform: rotate(-180deg);
  /* Firefox */
  -ms-transform: rotate(-180deg);
  /* IE */
  -webkit-transform: rotate(-180deg);
  /* Safari and Chrome */
  -o-transform: rotate(-180deg);
  /* Opera */
  transform: rotate(-180deg);
}

/* line 226, assetic_compassHCDyeq.scss */
.pie-semi-crop {
  left: 50%;
}
/* line 229, assetic_compassHCDyeq.scss */
.pie-semi-crop > .slice {
  background: #1e92c1;
}

@media (max-width: 809px) {
  /* line 235, assetic_compassHCDyeq.scss */
  .header-row {
    padding: 2rem 1rem 0;
  }

  /* line 239, assetic_compassHCDyeq.scss */
  .logo {
    margin-top: 1.5rem;
    max-width: 280px;
    width: 80%;
  }

  /* line 245, assetic_compassHCDyeq.scss */
  h1 {
    font-size: 1.4rem;
  }

  /* line 249, assetic_compassHCDyeq.scss */
  h2 {
    font-size: 1rem;
  }

  /* line 253, assetic_compassHCDyeq.scss */
  .btn-start {
    margin-top: 1.2rem;
  }

  /* line 257, assetic_compassHCDyeq.scss */
  .text-next-session {
    margin: 1.5rem 0;
  }

  /* line 261, assetic_compassHCDyeq.scss */
  .settings-cog {
    background-size: 100% auto;
    height: 30px;
    width: 30px;
  }

  /* line 269, assetic_compassHCDyeq.scss */
  .settings-dropdown .dropdown-menu:BEFORE {
    right: 3px;
  }
  /* line 273, assetic_compassHCDyeq.scss */
  .settings-dropdown .dropdown-menu:AFTER {
    right: 4px;
  }

  /* line 279, assetic_compassHCDyeq.scss */
  .reminder-info {
    font-size: 1rem;
  }
  /* line 282, assetic_compassHCDyeq.scss */
  .reminder-info a {
    font-size: .6rem;
  }
}
